<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>商品类型列表 - Powered By ${systemConfig.systemName}</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="${base}/template/assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="${base}/template/assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="${base}/template/assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="${base}/template/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="${base}/template/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="${base}/template/assets/css/app.css">
  <link rel="stylesheet" href="${base}/template/assets/css/admin.css">
  <script src="${base}/template/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="${base}/template/admin/js/list.js"></script>
</head>
<body>
<!--在这里编写你的代码-->
<div class="admin-content">
    <div class="am-cf am-padding" style="padding:1rem 1.6rem 1.6rem 1rem;margin:0px;"> <!--  padding:1px 2px 3px 4px;上、右、下,和左   -->
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">商品管理</strong> / <small>商品列表</small></div>
    </div>
    <form class="am-form" id="listForm" action="${base}/productType/list" method="post">
	    <div class="am-g" >
	      <div class="am-u-sm-12" style="padding:0px 5px 0px 0px;margin:0px;"><!--  padding:1px 2px 3px 4px;上、右、下,和左   -->
	          <table class="am-table am-table-striped am-table-hover table-main" style="padding:0px;margin:0px;">
	            <thead>
	              <tr>
					<th>
						<span class="sort" name="name">序号</span>
					</th>
					
					<th>
						<span class="sort" name="name">商品名称</span>
					</th>
					<th>
						<span class="sort" name="productSn">货号</span>
					</th>
					<th>
						<span class="sort" name="productCategory">分类</span>
					</th>
					<th>
						<span class="sort" name="price">本店价格</span>
					</th>
					<th>
						<span class="sort" name="isMarketable">上架</span>
					</th>
					<th>
						<span class="sort" name="isBest">精品</span>
					</th>
					<th>
						<span class="sort" name="isNew">新品</span>
					</th>
					<th>
						<span class="sort" name="isHot">热销</span>
					</th>
					<th>
						<span class="sort" name="store">库存</span>
					</th>
					<th>
						操作
					</th>
				</tr>
	          </thead>
	          <tbody>
	          <%for(list in pager.list){%>
					<tr>
						<td>
							${listLP.index}
						</td>
						<td>
							<%if (strutil.length(list.name) <= 20){%>
								<span title="${list.name}">${list.name}</span>
							<%}else{%>
								<span title="${list.name}">${strutil.subStringTo(list.name,0,19)}...</span>
							<%}%>
						</td>
						<td>
							${list.productSn!}
						</td>
						<td>
							${list.productCategory.name!}
						</td>
						<td>
							${list.price,numberFormat="##.##"}
						</td>
						<td>
							<%if (list.isMarketable == true){%>
								<img src="${base}/template/admin/images/list_true_icon.gif" />
							<%}else{%>
								<img src="${base}/template/admin/images/list_false_icon.gif" />
							<%}%>
						</td>
						<td>
							<%if (list.isBest == true){%>
								<img src="${base}/template/admin/images/list_true_icon.gif" />
							<%}else{%>
								<img src="${base}/template/admin/images/list_false_icon.gif" />
							<%}%>
						</td>
						<td>
							<%if (list.isNew == true){%>
								<img src="${base}/template/admin/images/list_true_icon.gif" />
							<%}else{%>
								<img src="${base}/template/admin/images/list_false_icon.gif" />
							<%}%>
						</td>
						<td>
							<%if (list.isHot == true){%>
								<img src="${base}/template/admin/images/list_true_icon.gif" />
							<%}else{%>
								<img src="${base}/template/admin/images/list_false_icon.gif" />
							<%}%>
						</td>
						<td>
							<span title="被占用数: ${list.freezeStore!}">${list.store!"-"}<%if (isEmpty(list.isOutOfStock!)){%> <span class="red">[缺货]</span><%}%></span>
						</td>
						<td>
							<a href="${base}/product/edit?id=${list.id}" title="编辑">[编辑]</a>
							<%if (list.isMarketable == true){%>
								<a href="${base}${list.htmlFilePath}" target="_blank" title="浏览">[浏览]</a>
							<%}else{%>
								<span title="未上架">[未上架]</span>
							<%}%>
							<a href="${base}/product/delete?ids=${list.id}" title="删除" class="delete">[删除]</a>
						</td>
					</tr>
				<%}%>
	        </tbody>
	        </table>
	          <div class="am-cf">
    			<!-- 分页 -->
    			<%if (pager.list.~size > 0){%>
	   				<div class="am-fr">
	   					<% include("/admin/pager.html"){}%>
	   				</div>
    			<%}else{%>
	    			<div class="am-kai">
					  <h3>没有找到任何记录!</h3>
					</div>
    			<%}%>
			 </div>  
	      </div>
	    </div>
    </form>
  </div>
 <!-- content end -->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="${base}/template/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->
<script type="text/javascript" src="${base}/template/assets/js/myApp.js"></script>
</body>
</html>
